.vercel
# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Django
db.sqlite3
/static/
staticfiles/
media/
migrations/

# Environments
.venv/
.env
*.env

# Logs
*.log

# Vercel
.vercel/
.vercelignore

# Archives
*.tar.gz
*.zip

# IDEs and Editors
.vscode/
.idea/
*.swp
